.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 0 0 33px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
}

.title {
    line-height: 1.15;
    font-size: 36px;
}

.desc {
    width: 100%;
}

.p1 {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}

.p2 {
    text-align: left;
    font-size: 22px;
    line-height: 38px;
}

.peep_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 800px;
}

.peep {
    background: url(../public/assets/tournament/tournament_peep.png);
    width: 99px;
    height: 160px;
}

.dialogue {
    background: url(../public/assets/ui/button.png);
    width: 250px;
    height: 125px;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: safe center;
    margin-top: 18px;
    cursor: pointer;
}

.peep_text {
    text-align: center;
    height: 50px;
    width: 80px;
    font-size: 20px;
    padding-top: 48px;
}

.coop_page2_peep_text {
    text-align: center;
    height: 50px;
    min-width: 80px;
    padding-left: 5px;
    font-size: 20px;
    padding-top: 48px;
}

.icon {
    background: url(../public/assets/ui/sandbox_hats.png);
    width: 25px;
    height: 25px;
    background-size: auto 100%;
    pointer-events: none;
    cursor: pointer;
}

.transparent {
    background: transparent !important;
}

.info {
    width: 180px;
    height: 55px;
    line-height: 55px;
    background: #4A4848;
    color: #fafafa;
    text-align: center;
    margin-top: 53px;
    border-radius: 6px;
}

.question {
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    line-height: 40px;
}

.question_text {
    font-size: 22px;
    margin-right: 33px;
}

.question_submit {
    font-size: 18px;
    margin-left: 38px;
    text-align: center;
    width: 120px;
    height: 40px;
    line-height: 38px;
    border: 2px solid rgba(74, 72, 72, 100);
    cursor: pointer;
}

.input input {
    height: 40px;
    line-height: 40px;
    width: 150px;
}

.page2_title {
    width: 100%;
    text-align: left;
    font-size: 22px;
    line-height: 63px;
    font-weight: bold;
}

.page2_p1 {
    width: 100%;
    text-align: left;
    line-height: 63px;
    font-size: 22px;
    font-weight: bold;
}

.vote {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 30px;
}

.page2_image {
    /*flex: 600px;*/
    /*position: absolute;*/
}

.page2_peep {
    /*flex: auto;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 580px;*/
}

.page2_peep_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.page2_question {
    width: 100%;
    padding-top: 40px;
}

.page2_question p {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    color: #4A4848;
    padding-top: 40px;
    padding-bottom: 50px;
}

.button {
    width: 200px;
    height: 65px;
    line-height: 63px;
    font-size: 24px;
    border: 1px solid rgba(74, 72, 72, 100);
    border-radius: 4px;
    cursor: pointer;
    z-index: 99;
}

.page2_size1 {
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 81px;
    font-size: 24px;
    color: #5088D7;
}

.page2_size2 {
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 81px;
    font-size: 24px;
    color: #52547C;
}

.page2_size3 {
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 81px;
    font-size: 24px;
    color: #F6C06F;
}

.page3_title {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.page3_vote_result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.page3_table {
    display: flex;
    flex-direction: column !important;
    font-size: 30px;
    text-align: center;
}

.page3_table_row {
    height: 125px;
    line-height: 125px;
    margin-top: 18px;
}

.page3_table_g {
    color: #098C2B;
}
.page3_table_r {
    color: #FD1616;
}
.page3_table_w {
    color: #F6C06F;
}

.page3_tips1 {
    font-size: 20px;
    text-align: left;
    width: 100%;
    padding-top: 50px;
    color: #52547C;
}

.page3_tips2 {
    font-size: 20px;
    text-align: left;
    width: 100%;
    padding-top: 10px;
    color: #52547C;
}

.page3_prompt1 {
    font-size: 26px;
    text-align: left;
    width: 100%;
    font-weight: bold;
    padding-top: 70px;
}

.page3_prompt2 {
    font-size: 26px;
    text-align: left;
    width: 100%;
    padding-top: 12px;
    font-weight: bold;
}

.rule_page1_desc {
    width: 100%;
    text-align: left;
    font-size: 22px;
    padding-top: 50px;
    padding-bottom: 70px;
    line-height: 40px;
    font-weight: bold;
}

.rule_page1_sizes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    line-height: 160px;
    text-align: center;
    font-size: 24px;
}

.rule_page1_size {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 3px;
    margin-right: 30px;
    margin-top: 50px;
    cursor: pointer;
}

.rule_page1_play {
    width: 290px;
    height: 70px;
    line-height: 66px;
    text-align: center;
    border: 2px solid rgba(74, 72, 72, 100);
    font-size: 26px;
    border-radius: 4px;
    margin-top: 70px;
    cursor: pointer;
}

.rule_page2_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.rule_page2_peep {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 50px;
}

.rule_page2_pair_group {
    display: flex;
    flex-direction: column;
}

.rule_page2_pair {
    display: flex;
    flex-direction: row;
}

.rule_page2_pair_left {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-top: 50px;
    margin-right: 20px;
    text-align: center;
}

.rule_page2_pair_right {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-top: 50px;
    text-align: center;
    margin-right: 20px;
}

.rule_page2_peep_single {
    background: url(../public/assets/tournament/tournament_peep.png);
    width: 99px;
    height: 160px;
    margin-left: 20px;
}

.conv_page1_image {
    background: url(../public/assets/evolution/evolution_intro.png);
    background-size: cover;
    width: 100%;
    height: 340px;
}

.cove_page1_desc {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 30px;
}

.cove_page1_steps {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.cove_page1_step {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    padding-right: 30px;
}

.play_button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
}

.play_button_description {
    font-family: 'FuturaHandwritten';
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-top: -78px;
    z-index: -10;
    cursor: pointer;
}

.play_button_description_wait {
    font-family: 'FuturaHandwritten';
    color: #828293;
    font-size: 24px;
    text-align: center;
    margin-top: -78px;
    z-index: -10;
    cursor: pointer;
}

.play_button_background {
    background: url(../public/assets/ui/button_long.png);
    width:400px;
    height:125px;
    background-size: 100%;
    pointer-events:none;
    cursor: pointer;
}

.play_button_background :hover {
    background-position: 0 -250px !important;
}

.play_button_background_wait {
    background: url(../public/assets/ui/button_long.png);
    width:400px;
    height:125px;
    background-size: 100%;
    pointer-events:none;
    cursor: pointer;
    background-position: 0 -250px !important;
}

.play_button_background_hover {
    background: url(../public/assets/ui/button_long.png);
    width:400px;
    height:125px;
    background-size: 100%;
    pointer-events:none;
    cursor: pointer;
    background-position: 0 -125px !important;
}

.cove_page2_desc {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.conv_page2_content {
    display: flex;
    flex-direction: row;
}

.conv_page2_steps {
    padding-left: 20px;
    margin-top: 80px;
}

.cove_page3_desc {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.conv_page3_steps {
    padding-left: 30px;
    width: 428px;
}

.ending_ph {
    font-size: 72px;
    font-weight: bold;
}

.ending_pf {
    margin-top: 80px;
    font-size: 48px;
    font-weight: bold;
}

.ending_pl {
    margin-top: 30px;
    font-size: 48px;
    font-weight: bold;
    color: #5088D7;
}

.continue_button {
    position: absolute;
    right: 10%;
    bottom: 80px;
}